{% include 'header_and_footer/header.html' %}
<h1>
    Все книги
</h1>
<ol>
    {% for i in book %}
    <li>
        <img src="{{i.cover.url}}" alt="">
        <div class="book-details">
            <div class="book-description">
                <h2>{{i.title}}</h2>
                <h3>Язык: {{i.localization}}</h3>
            </div>
            <div class="button-container">
                <a href="/books/{{i.id}}">Подробнее</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ol>
<h1>
    <a href="/create_book/">Add book</a>
</h1>
{% include 'header_and_footer/footer.html' %}
